html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

input[type="button"],
input[type="submit"],
input[type="url"],
button,
textarea {
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none; }

* {
  font-family: Helvetica, sans-serif;
  line-height: 1.3; }

h1 {
  margin: 0.67em 0; }

p {
  padding: 0.5em 0;
  max-width: 700px; }

p:last-child {
  margin-bottom: 1em; }

* {
  box-sizing: border-box; }

body {
  background: #323232;
  color: white;
  font-size: 13px; }
  @media screen and (min-width: 800px) {
    body {
      font-size: 16px; } }

a {
  cursor: pointer; }
  a:hover {
    color: #00a5cd; }

.active {
  color: #00a5cd;
  font-weight: 900; }

.btn {
  font-size: 1em;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  background: #323232;
  color: white; }

.btn:hover {
  text-decoration: none; }

.btn-container {
  margin: 2em 0;
  text-align: center;
  position: relative; }

.btn-zolt {
  background: #00a5cd;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid white; }
  .btn-zolt:disabled {
    background: #323232;
    border-color: #323232; }

fieldset {
  border: none;
  padding-right: 20%;
  text-align: center; }

input {
  font-size: 1em;
  padding: 0.5em;
  color: #00a5cd;
  width: 30%; }

input[type=submit] {
  width: inherit; }

.label {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-right: 1em; }

.forms__error-heading {
  text-align: center;
  padding: 1em 0; }

.field_with_errors {
  display: inline; }

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 0 1em; }

.header {
  max-width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #323232;
  z-index: 3;
  border-bottom: 1px solid #00a5cd; }
  @media screen and (min-width: 800px) {
    .header {
      height: 100px;
      text-align: center; } }

.header__logo {
  width: 55%;
  line-height: 100px;
  vertical-align: middle; }
  @media screen and (min-width: 440px) {
    .header__logo {
      width: 35%; } }

.header__title {
  margin: 0;
  line-height: 70px;
  color: white;
  font-weight: 900;
  text-transform: uppercase; }
  @media screen and (min-width: 800px) {
    .header__title {
      line-height: 100px; } }

.nav {
  display: none;
  max-width: 100%;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: #323232;
  padding: 0 0 80px;
  border-top: 1px solid #00a5cd;
  bottom: 0;
  border-bottom: 1px solid #00a5cd; }
  @media screen and (min-width: 800px) {
    .nav {
      padding: 0;
      display: block;
      height: 40px;
      top: 100px;
      border-top: none;
      border-bottom: 1px solid #00a5cd; } }

.nav__list li {
  display: block;
  line-height: 40px; }
  @media screen and (min-width: 800px) {
    .nav__list li {
      display: inline; } }

.nav__active {
  color: #00a5cd; }

.nav__list-item {
  display: block;
  padding: 1em 0;
  font-size: 1em; }
  @media screen and (min-width: 800px) {
    .nav__list-item {
      display: inline;
      padding: 0 2em 0 0; } }

.nav__toggle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #00a5cd;
  background: #323232;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  line-height: 2.5rem;
  text-align: center;
  z-index: 4;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 900; }
  @media screen and (min-width: 800px) {
    .nav__toggle {
      display: none; } }

.main__container {
  max-width: 800px;
  padding: 1em;
  margin: 0 auto;
  padding-top: 80px; }
  @media screen and (min-width: 800px) {
    .main__container {
      padding-top: 150px; } }

.main__title {
  text-align: left;
  font-weight: 900;
  padding: 1em 0 0.25em 0;
  color: #00a5cd; }

.main__subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700; }

.butterflies__container {
  position: relative; }

.butterfly-small {
  width: 30px;
  position: absolute;
  z-index: 2; }

.app {
  min-height: 100vh; }

.about__details {
  font-style: italic; }

.code__container {
  margin: 2em 0; }

.project__container {
  position: relative;
  margin: 2em 0;
  cursor: pointer; }

.project__overlay--left {
  position: absolute;
  height: 100%;
  left: 0;
  width: 50%; }

.project__overlay--right {
  position: absolute;
  height: 100%;
  right: 0;
  width: 50%; }

.project__url {
  color: #00a5cd; }

.project__url-container {
  text-align: left; }

.project__tech-container {
  font-weight: 900;
  font-style: italic; }

.project__tech {
  font-weight: normal; }

.design__container {
  margin: 2em 0; }

.contact__container {
  margin-bottom: 50vh; }

.contact__details {
  font-style: italic; }

.contact__subtitle {
  margin-top: 1.5em; }

.bottom__container {
  margin-bottom: 25%;
  color: #00a5cd;
  text-align: center; }

.bottom__monster-container {
  width: 20%;
  margin: 2em auto; }

.bottom__text {
  max-width: 100%; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #323232; }

.footer__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.25em 1em;
  text-align: center;
  font-size: 0.8em; }

.overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5; }

.modal__container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 800px;
  height: 90%;
  padding: 5rem 3rem;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  background: #323232;
  z-index: 6;
  border-radius: 1rem; }
  @media screen and (min-width: 800px) {
    .modal__container {
      height: calc(100% - (140px + 6em)); } }

.modal__image-container {
  margin: auto;
  height: 50%;
  width: auto;
  position: relative;
  cursor: pointer;
  padding: 0 1rem; }
  @media screen and (min-width: 800px) {
    .modal__image-container {
      height: 70%; } }

.modal__image {
  max-height: 100%; }

.modal__title {
  margin-top: 1rem 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem; }
  @media screen and (min-width: 800px) {
    .modal__title {
      font-size: 1.5rem; } }

.modal__description {
  width: 70%;
  margin: auto;
  padding-bottom: 0.5rem; }

.modal__link {
  color: #00a5cd; }

.modal__tools {
  font-style: italic;
  padding-bottom: 0.5rem; }

.modal__overlay--right {
  height: 100%;
  width: 50%;
  right: 0;
  position: absolute; }

.modal__overlay--left {
  height: 100%;
  width: 50%;
  left: 0;
  position: absolute; }

.modal__close {
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer; }
  @media screen and (min-width: 800px) {
    .modal__close {
      width: 2rem;
      top: 1rem;
      right: 1rem; } }

.arrow-right {
  display: none;
  position: absolute;
  width: 1rem;
  right: -1em;
  top: 50%; }

.arrow-left {
  display: none;
  position: absolute;
  width: 1rem;
  left: -1em;
  top: 50%; }

.project__image-container {
  position: relative;
  width: 50%;
  display: inline-block;
  cursor: pointer; }
  .project__image-container:hover {
    background: #000; }

.project__image-container:before {
  content: '';
  display: block;
  padding-top: 100%; }

.project__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  opacity: 0.95; }
  .project__image:hover {
    opacity: 1; }

.project__image-info {
  display: none;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  margin: 0.5em;
  color: #00a5cd;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background: #gray; }

.design__image-container {
  position: relative;
  width: 50%;
  /* desired width */
  display: inline-block;
  cursor: pointer; }
  @media screen and (min-width: 600px) {
    .design__image-container {
      width: 33%; } }
  @media screen and (min-width: 800px) {
    .design__image-container {
      width: 25%; } }
  .design__image-container:hover {
    background: #000; }

.design__image-container:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/ }

.design__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  opacity: 0.95; }
  .design__image:hover {
    opacity: 1; }
