// 4. BASE ELEMENTS
* {
  box-sizing: border-box;
}
body {
  // background-image: url('/assets/background.jpg');
  // background-size: 130%;
  background: $gray;
  color: white;
  font-size: 13px;
  @media screen and (min-width: 600px) {
    font-size: 16px;
  }
}

a {
  cursor: pointer;
  &:hover {
    color: $links;
  }
}

.active {
  color: $primary;
  font-weight: 900;
}
