.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $gray;
}

.footer__container {
  max-width: $breakpoint;
  margin: 0 auto;
  padding: 0.25em 1em;
  text-align: center;
  font-size: 0.8em;
}
