.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 0 1em;
}

.header {
  max-width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: $gray;
  z-index: 1;
  border-bottom: 1px solid $primary;
  @media screen and (min-width: 600px) {
    height: 100px;
    text-align: center;
  }
}

.header__logo {
  width:55%;
  line-height: 100px;
  vertical-align: middle;
}
.header__title {
  margin: 0;
  line-height: 70px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  @media screen and (min-width: 600px) {
    line-height: 100px;
  }
}

.nav {
  display: none;
  max-width: 100%;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: $gray;
  padding: 0 0 80px 0;
  border-top: 1px solid $primary;
  bottom: 0;
  border-bottom: 1px solid $primary;


  @media screen and (min-width: 600px) {
    padding: 0;
    display: block;
    height: 40px;
    top: 100px;
    border-top: none;
    border-bottom: 1px solid $primary;

  }
}
.nav__list {
  line-height: 40px;
}
.nav__list-item {
  display: block;
  padding: 1em 0;
  font-size: 1em;
  @media screen and (min-width: 600px) {
    display: inline;
    padding: 0 2em 0 0;
  }
}

.nav__toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $primary;
  background: $gray;
  position: fixed;
  bottom: 1em;
  left: 1em;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
