.rs__container {
  padding: 1rem 0;
  border-top: 1px solid $primary;
}
.rs__container:last-of-type {
  border-bottom: 1px solid $primary;
  margin-bottom: 4rem;
  color: red;
}
.rs__radio {
  display: inline-block;
  width: initial;
}
.rs__output {
  border-bottom: 1px solid $primary;
  display: inline-block;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
}
