
.cu-section {
  border: 1px solid $primary;
  padding: 10px;
  margin-top: 10px;
  word-break: break-word;
}

.cu-controls__container {
  margin: 20px auto;
}

.cu-controls__section {
  margin: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid $primary;
  padding: 0.5rem;
  label {
    padding-right: 10px;
  }
}

.cu-controls__label {
  width: 10%;
  display: inline-block;
  text-align: right;
}

.cu-controls__button-container {
  text-align: center;
}

.cu-asterisk:before,
.cu-html:before,
.cu-body:before,
.cu-div:before,
.cu-grandparent:before,
.cu-parent:before,
.cu-child:before {
  display: inline;
  font-weight: 900;
  color: inherit;
}

.cu-asterisk:before {
  content: '*: ';
  font-family: Courier;
}
.cu-html:before {
  content: 'html: ';
  font-family: Courier;
}
.cu-body:before {
  content: 'body: ';
  font-family: Courier;
}
.cu-div:before {
  content: 'div: ';
  font-family: Courier;
}
.cu-grandparent:before {
  content: 'GRANDPARENT: ';
}
.cu-parent:before {
  content: 'PARENT: ';
}
.cu-child:before {
  content: 'CHILD: ';
}

.cu-color--html {
  color: $primary;
}

.cu__select {
  font-size: 13px;
  padding: 0 0.25rem;
  border: 1px solid $gray;
  cursor: pointer;
  -webkit-appearance: none;
  @media screen and (min-width: $breakpoint) {
    font-size: 16px;
  }
}
