.main__container {
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  margin-bottom: 150px;
  @media screen and (min-width: 600px) {
    top: 150px;
  }
}

.main__title {
  text-align: left;
  font-weight: 900;
  padding: 1em 0 0.25em 0;
  color: $primary;
}

.main__subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.app {
  min-height: 100vh;
}

#about,
#projects,
#contact {
  display: none;
}

.project__container {
  position: relative;
  padding: 2em 0;
}

.project__overlay--left {
  position: absolute;
  height: 100%;
  background: red;
  opacity: 0.4;
  left: 0;
  width: 50%;
}
.project__overlay--right {
  position: absolute;
  height: 100%;
  background: blue;
  opacity: 0.4;
  right: 0;
  width: 50%;
}
