.overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 140px;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.modal__container {
  display: none;
  position: fixed;
  top: 140px;
  height: calc(100% - (140px + 6em));
  max-width: 800px;
  padding: 3em;
  text-align: center;
  left: 0;
  right: 0;
  margin: 2em auto;
  background: $gray;
  z-index: 6;
}

.modal__image {
  margin: auto;
}
.main__container {
  max-width: $breakpoint;
  padding: 1em;
  margin: 0 auto;
  // position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  padding-top: 150px;
  @media screen and (min-width: $breakpoint) {
    top: 150px;
  }
}

.main__title {
  text-align: left;
  font-weight: 900;
  padding: 1em 0 0.25em 0;
  color: $primary;
}

.main__subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.butterflies__container {
  position: relative;
}

.butterfly-small {
  width: 30px;
  position: absolute;
  z-index: 2;
}
.app {
  min-height: 100vh;
}

#about,
#projects,
#design,
#contact {
  // display: none;
}

.about__details {
  font-style: italic;
}

.code__container {
  margin: 2em 0;
}
.project__container {
  position: relative;
  margin: 2em 0;
  cursor: pointer;
}

.project__overlay--left {
  position: absolute;
  height: 100%;
  left: 0;
  width: 50%;
}
.project__overlay--right {
  position: absolute;
  height: 100%;
  right: 0;
  width: 50%;
}
.project__url {
  color: $primary;
}

.project__url-container {
  text-align: left;
}
.project__tech-container {
  font-weight: 900;
  font-style: italic;
}
.project__tech {
  font-weight: normal;
}

.arrow-right {
  display: none;
  position: absolute;
  width: 40px;
  right: 1em;
  top: 50%;
}

.arrow-left {
  display: none;
  position: absolute;
  width: 40px;
  left: 1em;
  top: 50%;
}

.design__container {
  margin: 2em 0;
}
.contact__container {
  margin-bottom: 50vh;
}
.contact__details {
  font-style: italic;
}

.contact__subtitle {
  margin-top: 1.5em;
}

.bottom__container {
  margin-bottom: 25%;
  color: $primary;
  text-align: center;
}

.bottom__monster-container {
  width: 20%;
  margin: 2em auto;
}

.bottom__text {
  max-width: 100%;
}
