.overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.modal__container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 800px;
  height: 90%;
  padding: 5rem 3rem;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  background: $gray;
  z-index: 6;
  border-radius: 1rem;
  @media screen and (min-width: $breakpoint) {
    height: calc(100% - (140px + 6em));
  }
}
.modal__image-container {
  margin: auto;
  height: 50%;
  width: auto;
  position: relative;
  cursor: pointer;
  padding: 0 1rem;
  @media screen and (min-width: $breakpoint) {
    height: 70%;
  }
}
.modal__image {
  max-height: 100%;
}
.modal__title {
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  @media screen and (min-width: $breakpoint) {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
.modal__description {
  width: 70%;
  margin: auto;
  padding-bottom: 0.5rem;
}
.modal__link {
  color: $primary;
}
.modal__tools {
  font-style: italic;
  padding-bottom: 0.5rem;
}
.modal__overlay--right {
  height: 100%;
  width: 50%;
  right: 0;
  // background: red;
  position: absolute;
}
.modal__overlay--left {
  height: 100%;
  width: 50%;
  left: 0;
  // background: blue;
  position: absolute;
}
.modal__close {
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  @media screen and (min-width: $breakpoint) {
    width: 2rem;
    top: 1rem;
    right: 1rem;
  }
}

.arrow-right {
  display: none;
  position: absolute;
  width: 1rem;
  right: -1em;
  top: 50%;
}

.arrow-left {
  display: none;
  position: absolute;
  width: 1rem;
  left: -1em;
  top: 50%;
}
