// 3. TYPOGRAPHY
* {
  font-family: Helvetica, sans-serif;
  line-height: 1.3;
}

h1 {
  margin: 0.67em 0;
}


p {
  padding: 0.5em 0;
  max-width: 700px;
}

p:last-child {
  margin-bottom: 1em;
}

code {
  font-family: Courier, monospace;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  background: $black-light;
  color: white;
}

pre[class*="language-"],
code[class*="language-"],
.token {
  font-family: Courier, monospace;
}
