//Remember that variables are defined with variable_name: variable_value; – don't forget the semi colon, and don't use an equals sign!

$blue: #0071ae; // my blue
$gray: rgb(50,50,50);
$black-light: rgba(0,0,0,0.5);
$primary: #00a5cd; // rgb(0,165,205)
$primary-light: rgba(0,165,205, 0.8);
$links: $primary;

$breakpoint: 800px;
